 /* CSS for hiding sections on mobile view and making carousel responsive */
 @media only screen and (max-width: 767px) {
    /* Hide sections other than logo and banner on mobile */
    .header_section,
    .fashion_section {
       display: none;
    }

    /* Adjust banner section on mobile for better visibility */
    .banner_section .carousel-inner .carousel-item {
       height: auto;
       text-align: center;
    }

    /* Change text color of banner title on mobile */
    .banner_section .carousel-inner .carousel-item .row .col-sm-12 .banner_taital {
        font-size: 24px; /* Set font size for mobile */
            margin-top: 10px; /* Adjust top margin for mobile */
       color: black; /* Set text color to black on mobile */
     }

    /* Set background for carousel on mobile */
    .banner_bg_main {
       background-image: url('../images/new.jpg');
       background-size: cover;
       background-repeat: no-repeat;
     }

    /* Make carousel images responsive on mobile */
    .banner_section .carousel-inner .carousel-item img {
       width: 100%;
       height: auto;
    }
 }
